$secondaryBlue: #001d39;
$secondaryBlueLight: #334a60;
$secondaryBlueDark: #001427;

$themePrimary: #6b9e1f;
$themePrimaryLight: #88b14b;
$themePrimaryDark: #4a6e15;

$siteMaxWidth: 1600px;
$sitePadding: 0 1rem 0 1rem;

$color-gray1: #333333;
$color-gray2: #666666;
$color-gray3: #999999;
$color-gray4: #CCCCCC;
$color-gray5: #DDDDDD;
$color-gray6: #EEEEEE;
$color-gray7: #F1F1F1;
