[Unit]
Description=Kalila Web Dev

[Service]
WorkingDirectory=/root/Kalila/next/frontend
ExecStart=/usr/bin/nx serve
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=Kalila.Web.Dev
User=root
Environment=NEXT_PUBLIC_SIGNALR_URL=https://kalila-realtime.kozae.de/hub
Environment=NEXT_PUBLIC_API_URL=https://kalila-api.kozae.de/v1/
Environment=NEXT_PUBLIC_IMAGE_URL=/pages/
Environment=NEXT_PUBLIC_PAGES_IMAGE_FOLDER=/root/Kalila/next/frontend/apps/kalila/public/pages/
Environment=NEXT_PUBLIC_PAGES_IMAGE_SEVER=https://static.kozae.de/pages/

Environment=AUTH0_SECRET='e5e66f884ea93a8d3db939b2efae738f7dbbc9aa625152dd1da1b658745b633f'
Environment=AUTH0_BASE_URL='https://kalila-dev.kozae.de/'
Environment=AUTH0_ISSUER_BASE_URL='https://dev-yirbchaj.us.auth0.com'
Environment=AUTH0_TOKEN_ENDPOINT='https://dev-yirbchaj.us.auth0.com/oauth/token'
Environment=AUTH0_CLIENT_ID='tAHQkVuzEL3qhllSHVj8FAnH6b8jsO8L'
Environment=AUTH0_CLIENT_SECRET='oOSsI_5xuo__9i_GWcRbd4kaTaeQ3aQL2d1lZkHHbbH8hsajnAJsNpzqZ2dL5LGW'


[Install]
WantedBy=multi-user.target


# in etc/systemd/system
# after file chenage run: systemctl daemon-reload
# journalctl -u Kalila.Web.Dev -f
# journalctl -u Kalila.Web.Dev -b
# systemctl start  Kalila.Web.Dev && journalctl -u Kalila.Web.Dev -f
# systemctl restart  Kalila.Web.Dev && journalctl -u Kalila.Web.Dev -f
# systemctl stop  Kalila.Web.Dev
# aFFk8Fwj2N58F^?
